<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yahumott.tvapp"
    tools:ignore="ImpliedTouchscreenHardware">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/ic_launcher_tv"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.yahumott.tvapp.video_service.VideoPlaybackActivity"
            android:supportsPictureInPicture="true"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"/>
        <activity android:name="com.yahumott.tvapp.music_service.MusicPlayerActivity" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.ErrorActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.VideoDetailsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.SignUpActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="landscape"
            android:name="com.yahumott.tvapp.ui.activity.PlayerActivity"
            android:supportsPictureInPicture="true"
            android:exported="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"/>
        <activity
            android:name="com.yahumott.tvapp.ui.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.ItemGenreActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.ItemCountryActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.ActivationActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.SearchActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Details.NoSharedElementTransition" />
        <activity
            android:name="com.yahumott.tvapp.ui.activity.LeanbackActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.yahumott.tvapp.ui.activity.SplashScreenActivity"
            android:screenOrientation="landscape"
            android:banner="@drawable/ic_launcher_tv"
            android:icon="@drawable/ic_launcher_tv"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher_tv"
            android:roundIcon="@drawable/ic_launcher_tv">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="com.yahumott.tvapp.ui.activity.LoginChooserActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yahumott.tvapp.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.yahumott.tvapp.music_service.MusicPlaybackService"
            android:exported="false" />

        <activity android:name="com.yahumott.tvapp.video_service.AppLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="app"
                    android:scheme="oxootv" />
            </intent-filter>
        </activity>

        <service android:name="com.yahumott.tvapp.video_service.SyncChannelJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.yahumott.tvapp.video_service.SyncProgramsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.yahumott.tvapp.video_service.InitializeChannelsReceiver">
            <intent-filter>
                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>